{% extends 'base.html' %}

{% block content %}

<div class="container">

    {% if user.is_authenticated %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">التاريخ</th>
                <th scope="col">اليوم</th>
                <th scope="col">اسم المنتج</th>
                <th scope="col">الكمية</th>
                <th scope="col">السعر</th>
                <th scope="col">الاجمالى</th>
                <th scope="col">الملاحظات</th>
            </tr>
        </thead>
        <tbody>
            {% for item in Sales %}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.date|date:"Y/m/j" }}</td>
                <td>{{item.day}}</td>
                <td>{{item.item_name}}</td>
                <td>{{item.qty}}</td>
                <td>{{item.price}}</td>
                <td>{% widthratio item.qty 1 item.price %}</td>
                <td>{{item.notes}}</td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row">الاجمالى</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> {{ Total }}</td>
                <td> </td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    <div>
        <p>a</p>
    </div>
</div>




{% endblock content %}